name: Security Audit

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    gosec:
        name: Security Check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Source
              uses: actions/checkout@v6

            - name: Run Gosec Security Scanner
              uses: securego/gosec@master
              with:
                  args: ./...
